# Виртуальные окружения
venv/
venv311/

# Python кэш
__pycache__/
*.pyc

# Логи
*.log
logs/

# JSON-файлы с временными или пользовательскими данными
*.json
!requirements.txt

# Конфиденциальные данные
.env

# ОС-системные файлы
.DS_Store
Thumbs.db
